@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&subset=cyrillic");
@import '../src/variables.scss';

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
  color: $activeText;

  font-family: "Rubik", sans-serif;
  font-size: 14pt;
  font-weight: normal;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  
}

svg, img {
  vertical-align: middle;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  margin: auto;

  fill: #B3E5FC;
  color: #B3E5FC;

  font-size: 16pt;
  font-weight: bold;

  & > span{
    font-size: 14pt;
    font-weight: normal;
  }

  & img{
    vertical-align: middle;

    &.logo{
      height: 40px;
    }
    &.account{
      height: 24px;
    }
  }
}

#app{
  display: flex;
  flex-direction: column;
  height: 100%;
}