@import "../../src/variables.scss";
.main {
  background-color: $basicColor;

  height: 90%;
  width: 95%;
  margin: auto;
  margin-top: 0;

  border-radius: 0 0 20px 20px;
}

.addressNavigation{
  padding: 10px 0 0 0;
  background-color: $backgroundColor;

  & > input{
    color:$nonActiveText;
    background-color: $backgroundColor;

    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;

    border: none;

    font-family: "Rubic",sans-serif;
    font-size: 20pt;

    &.active{
      color: $commonText;
      border-bottom: 2px solid $commonText;

    }
  }
}

.marksBar{
  color: #FFFFFF;
  & > span{
    margin-right: 30px;
  }
}

.workspace{
  margin: 30px 40pt 40pt 40pt;
}

.meetroomsTable{
  width: 70%;

  margin-top: 20px;
  
  color: #FFFFFF;

  & > div.header{
    display: flex;
    width: 100%;
    justify-content: stretch;
    padding: 10px 0 10px 0;
    border-bottom: 1px #50515A solid;

    color: #81D4F4;

    
    & > span{
      &.rn{
        width: 15%;
      }
      &.st{
        width: 15%;
      }
      &.cn{
        width: 20%;
      }
      &.vt{
        width: 30%;
      }
    }
  }

  & > div.row{
    display: flex;
    width: 100%;
    justify-content: stretch;

    padding: 10px 0 10px 0;

    border-bottom: 1px #50515A solid;

    & > span{
      &.rn{
        width: 15%;
      }
      &.st{
        width: 15%;
      }
      &.cn{
        width: 20%;
      }
      &.vt{
        width: 30%;
      }
    }

    &.header{
      color: #81D4F4;
    }

    &:hover{
      background-color: #464854;
    }
  }
}

.bookButton {
  color: #0091ea;
  background-color: rgba(0, 0, 0, 0);

  height: 28px;
  border-radius: 15px;
  border: 1px solid #0091ea;
  font-family: "Rubik", sans-serif;
  font-size: 14pt;
  //margin-left: -5rem;
}
